.card-heading{
    margin-bottom: 3.2rem;
}


.watch-btn{
    background-color: rgb(0, 55, 207);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.watch-btn:hover {
    background-color: rgb(18, 18, 19);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(9, 9, 105);

}