.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3,1fr);
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

.super_hit {
  background-color: #7dcea0;
}

.average {
  background-color: #f7dc6f;
}

.rating {
  padding: 0.3rem 1.8rem;
  color: #000;
  margin-left: 1.2rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius:100rem;
  -ms-border-radius:100rem;
  -o-border-radius:100rem;

}

